{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="header">{{header}}</div>

    <div class="row">
        <div class="col-sm-2"><!--Start of first col-->
            <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
            <input type="submit" value='Search' class="btn btn-primary mybutton"/>
        </form>
        </div>
        <br>
        <div class="col-sm-10"><!--Start of second col-->
            <div class="display_table">
        <table class='table'>
          <thead>
            <tr>
<!--              <th>COUNT</th>-->
<!--              <th>ID</th>-->
              <th>CATEGORY</th>
              <th>ITEM NAME</th>
              <th>QUANTITY IN STORE</th>
              <th>ISSUE QUANTITY</th>
              <th>RECEIVE QUANTITY</th>
              <th>ISSUE BY</th>
              <th>RECEIVE BY</th>
              <th>LAST UPDATED</th>
            </tr>
          </thead>
        {% for instance in queryset %}
            <tr>

<!--              <td>{{forloop.counter}}</td>-->
<!--              <td>{{instance.id}}</td>-->
              <td>{{instance.category}}</td>
              <td>{{instance.item_name}}</td>
              <td>{{instance.quantity}}</td>
              <td>{{instance.issue_quantity}}</td>
              <td>{{instance.receive_quantity}}</td>
              <td>{{instance.issue_by}}</td>
              <td>{{instance.receive_by}}</td>
              <td>{{instance.last_updated|date:"d M, h:i a"}}</td>
            </tr>
        {% endfor %}
      </table>
                <div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
            <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
        </div>
    </div>
{% endblock %}