{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="header">{{header}}</div>

<div class="row">
        <div class="col-sm-2"><!--Start of first col-->
			<form method='POST' action=''>{% csrf_token %}
				{{form|crispy}}
				<input type="submit" value='Search' class="btn btn-primary mybutton"/>
				<br><br><br><br>
				<a href="{% url 'add_items' %}"><div class="btn btn-primary mybutton">Add Items</div></a><br><br>
      			<a href="{% url 'list_history' %}"><div class="btn btn-primary mybutton">List History</div></a><br>
			</form>
		</div>
	<br>
	<div class="col-sm-10"><!--Start of second col-->
		<div class="display_table">
			<table class='table'>
				<thead>
				  <tr>
					<th>COUNT</th>
					<th>CATEGORY</th>
					<th>ITEM NAME</th>
					<th>QUANTITY IN STORE</th>
					<th>REORDER LEVEL</th>
					<th>DELETE</th>
					<th>UPDATED AT</th>
				  </tr>
				</thead>
			  {% for instance in queryset %}
				  <tr>
					<td>{{forloop.counter}}</td>
					<td>{{instance.category}}</td>
					<td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
					<td><a href="{% url 'stock_detail' instance.id %}">
						  {% if instance.quantity <= instance.reorder_level %}
						  <div style="background-color: orange;">{{instance.quantity}}</div>
						  {% else %}{{instance.quantity}}
						  {% endif %}
						</a>
					</td>
					  <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
					  <td><a href="{% url 'delete_items' instance.id %}"><i style="color:red" class="fas fa-trash-alt"></i></a></td>
				  	<td>{{instance.last_updated|date:"d M, h:i a"}}</td>
				  </tr>
			  {% endfor %}
			</table>
	</div>
	</div>
</div>
{% endblock %}